<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-sm-1">
                <h1>The Cheapest Textbooks</h1>
                <h2 class="fs-3">Save Up To 90% On Millions Of Titles</h2>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="btn btn-purple px-4 rounded-3 mt-5" href="#">Get Started ></a>
            </div>
            <div class="col-lg-6 order-1 order-sm-2">
                <%= render inline: Rails.root.join('app/assets/svg/hero illustration.svg').read %>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                <%= image_tag "Group 13597.png", class: "img-fluid" %>
            </div>
            <div class="col-lg-6">
                <h1 class="text-white fs-2">Our Commitment</h1>
                <p class="text-white mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="btn btn-purple px-4 rounded-3 mt-5" href="#">Learn More ></a>
            </div>
        </div>

        <div class="row mt-5 text-center icon-shrink-size">
            <h1 class="text-white mb-5">Trusted By Awesome <span class="text-warning">Clients</span></h1>
            <div class="col-lg col-sm-3">
                <%= render inline: Rails.root.join('app/assets/svg/Binance.svg').read %>
                <span class="text-white fw-medium">Binance</span>
            </div>
            <div class="col-lg col-sm-2">
                <%= render inline: Rails.root.join('app/assets/svg/Layer_x0020_1.svg').read %>
                <span class="text-white fw-medium">Bitcoin</span>
            </div>
            <div class="col-lg col-sm-2">
                <%= render inline: Rails.root.join('app/assets/svg/solana-sol-logo.svg').read %>
                <span class="text-white fw-medium">Solana</span>
            </div>
            <div class="col-lg col-sm-2">
                <%= render inline: Rails.root.join('app/assets/svg/Ethereum.svg').read %>
                <span class="text-white fw-medium">Ethereum</span>
            </div>
            <div class="col-lg col-sm-2">
                <%= render inline: Rails.root.join('app/assets/svg/tether-usdt-logo.svg').read %>
                <span class="text-white fw-medium">Tether</span>
            </div>
            <div class="col-lg col-sm-2">
                <%= render inline: Rails.root.join('app/assets/svg/Layer 2.svg').read %>
                <span class="text-white fw-medium">XRP</span>
            </div>
        </div>
    </div>
</section>

<section id="explore" class="mt-5">
    <div class="container">
        <h1 class="text-center">Explore Our Books</h1>
        <p class="text-center w-50 mx-auto">With our dedicated customer support team, you can rest easy knowing that we're doing everything we can save you time, money, and stress.</p>
    </div>
    <div class="shape-r">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg col-md col-sm-12 books">
                    <div class="img-background">
                        <%= image_tag "books/doughnuts & Doom.png", class: "img-fluid" %>
                    </div>
                    
                    <h1 class="text-white fs-4">Doughnuts and Doom</h1>
                    <a href="#" class="text-info">View Book Details ></a>
                </div>
                <div class="col-lg col-md col-sm-12 books">
                    <div class="img-background">
                        <%= image_tag "books/The Bend of Luck.png", class: "img-fluid" %>
                    </div>
                    
                    <h1 class="text-white fs-4">The Bend of Luck</h1>
                    <a href="#" class="text-info">View Book Details ></a>
                </div>
                <div class="col-lg col-md col-sm-12 books">
                    <div class="img-background">
                        <%= image_tag "books/9781603093989.png", class: "img-fluid" %>
                    </div>
                    
                    <h1 class="text-white fs-4">The Underwater Welder</h1>
                    <a href="#" class="text-info">View Book Details ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-l">
        <div class="container mt-5">
            <p class="text-warning">LOREM IPSUM</p>
            <h1 class="text-white">3 Reasons To Shop With Us</h1>
            <div class="row mt-5 text-white">
                <div class="col-lg col-md col-sm-12">
                    <div class="mb-3 d-block">
                        <%= render inline: Rails.root.join('app/assets/svg/package-box.svg').read %>
                    </div>
                    <h1 class="fs-3">All textbook rentals come with free return shipping.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-lg col-md col-sm-12">
                    <div class="mb-3 d-block">
                        <%= render inline: Rails.root.join('app/assets/svg/help.svg').read %>
                    </div>                    
                    <h1 class="fs-3">Dedicated customer support and help portal.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-lg col-md col-sm-12">
                    <div class="mb-3 d-block">
                        <%= render inline: Rails.root.join('app/assets/svg/piggy-bank.svg').read %>
                    </div>
                    <h1 class="fs-3">Buy or rent cheap textbooks & save up to $500 per year!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="text-center">
    <h1>Andrew Santellan</h1>
    <p class="text-info">Product Manager, Binance</p>

    <span class="text-grey">
        <%= render inline: Rails.root.join('app/assets/svg/Group 13703.svg').read %><span class="fw-bold">Binance</span>
    </span>

    <div class="base-div">
        <div class="profile-pic">
            <%= image_tag "user.png", class: "img-fluid" %>
        </div>
        <div class="shadow-block"></div>
        <div class="image-block">
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus in hendrerit gravida rutrum. Enim nunc faucibus a pellentesque sit amet porttitor. Lobortis mattis aliquam faucibus purus in massa. Mauris rhoncus aenean vel elit. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Ac felis donec et odio pellentesque. Congue nisi vitae suscipit tellus mauris a diam.</p>

            <%= render inline: Rails.root.join('app/assets/svg/star.svg').read %>
        </div>
    </div>
</section>

<section id="faq">
    <div class="container">
        <h1>Frequently Asked Question</h1>
        <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button bg-light text-grey fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Dedicated customer support and help portal.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                With our dedicated customer support team, you can rest easy knowing that we're doing everything we can to save you time, money, and stress.
            </div>
            </div>
        </div>
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-light text-grey fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Lorem ipsum dolor sit amet
            </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Donec enim diam vulputate ut pharetra. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Nec dui nunc mattis enim ut tellus elementum sagittis.
            </div>
            </div>
        </div>
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-light text-grey fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Lorem ipsum dolor sit amet
            </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Donec enim diam vulputate ut pharetra. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Nec dui nunc mattis enim ut tellus elementum sagittis.
            </div>
            </div>
        </div>
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-light text-grey fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Lorem ipsum dolor sit amet
            </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Donec enim diam vulputate ut pharetra. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Nec dui nunc mattis enim ut tellus elementum sagittis.
            </div>
            </div>
        </div>
        </div>
    </div>   
</section>
